<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", turistic_points_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_turistic_point_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> TuristicPoints</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.turistic_point.name", :default => t("activerecord.labels.name", :default => "Name")) %></th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @turistic_points.each do |turistic_point| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= turistic_point.id %></td>
          <td><%= link_to turistic_point.name, turistic_point_path(turistic_point) %></td>
          <td><%= turistic_point.created_at %></td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", turistic_point_path(turistic_point) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_turistic_point_path(turistic_point) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", turistic_point_path(turistic_point), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @turistic_points  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>