<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", tourpoints_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_tourpoint_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", tourpoint_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.tourpoint.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @tourpoint.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @tourpoint.description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.city_id", :default => t("activerecord.labels.city_id", :default => "City")) %>:</b>
          <%= City.find_by_id(@tourpoint.city_id) %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.localization", :default => t("activerecord.labels.localization", :default => "Where Is")) %>:</b>
          <%= @tourpoint.localization %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.whygo", :default => t("activerecord.labels.whygo", :default => "Why go")) %>:</b>
          <%= @tourpoint.whygo %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.whengo", :default => t("activerecord.labels.whengo", :default => "When go")) %>:</b>
          <%= @tourpoint.whengo %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.whogo", :default => t("activerecord.labels.whogo", :default => "Who go")) %>:</b>
          <%= @tourpoint.whogo %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tourpoint.price", :default => t("activerecord.labels.price", :default => "How much")) %>:</b>
          <%= @tourpoint.price %>
        </p>

        <p>
          <b><%= t("activerecord.atributes.tourpoint.photo", :default => t("activerecord.labels.photo", :default => "Photo")) %>:</b>
        </p>
        <p>
          <%= image_tag @tourpoint.photo.url(:large) %>
        </p>
        
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_tourpoint_path(@tourpoint), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", tourpoint_path(@tourpoint), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>